<% flash.each do |key, value| %>
    <div data-controller="flash" class="alert alert-warning alert-dismissible fade show text-center">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>